@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-slate-100;
}

@font-face {
	font-family: 'timezone-italic';
	src: url('/hal-fonts/hal-timezone-italic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'timezone-regular';
	src: url('/hal-fonts/hal-timezone-regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'timezone-monospace';
	src: url('/hal-fonts/hal-timezone-monospace.otf') format('opentype');
	font-style: monospace;
	font-weight: normal;
}

@font-face {
	font-family: 'sohn-buch';
	src: url('/klim-fonts/sohne-buch.otf') format('opentype');
	font-weight: normal;
}

@layer components {
	.home-image {
		@apply fixed top-0 right-0 -z-10 h-full w-2/5 object-cover object-bottom transition-opacity duration-100;
	}

	.home-card {
		@apply relative pb-6 pt-4 px-3 border-t border-black -mx-4 -mb-14 flex justify-between bg-slate-100 cursor-pointer;
	}

	.layered-image {
		@apply relative w-32 h-32 sm:w-36 sm:h-36 m-2 self-center sm:self-start cursor-pointer;
	}
}
