@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-stone-50;
}

#svelte:has(.home-page) {
	font-size: 95%;
}

#svelte {
	display: contents;
}

@font-face {
	font-family: 'timezone-italic';
	src: url('/hal-fonts/hal-timezone-italic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'timezone-regular';
	src: url('/hal-fonts/hal-timezone-regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'timezone-monospace';
	src: url('/hal-fonts/hal-timezone-monospace.otf') format('opentype');
	font-style: monospace;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sohn-buch';
	src: url('/klim-fonts/sohne-buch.otf') format('opentype');
	font-weight: normal;
	font-display: swap;
}

@layer components {
	.home-image {
		@apply fixed right-0 top-0 -z-10 h-full w-2/5 object-cover object-left-top transition-opacity duration-100;
	}

	.home-card {
		@apply relative -mx-4 mb-0 flex cursor-pointer justify-between border-t border-black bg-stone-50 p-2 transition-transform duration-500 ease-out focus-visible:z-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black sm:-mb-11 sm:px-2 sm:pb-5 sm:hover:-translate-y-8;
	}

	.layered-image {
		@apply relative m-2 flex flex-col items-center cursor-pointer self-center sm:items-start sm:self-start;
	}

	.eli-logo {
		@apply relative block h-24 w-24 *:transition-transform *:duration-200 *:ease-in-out sm:h-36 sm:w-36;
	}

	.story-home-button {
		@apply h-20 w-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-black sm:h-24 sm:w-24;
	}

	.org-button {
		@apply rounded-full border border-black px-2 py-1 font-mono text-[0.675rem] sm:text-[0.79rem];
	}
}
