@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-stone-50;
}

#svelte {
	display: contents;
}

@font-face {
	font-family: 'timezone-italic';
	src: url('/hal-fonts/hal-timezone-italic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'timezone-regular';
	src: url('/hal-fonts/hal-timezone-regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'timezone-monospace';
	src: url('/hal-fonts/hal-timezone-monospace.otf') format('opentype');
	font-style: monospace;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sohn-buch';
	src: url('/klim-fonts/sohne-buch.otf') format('opentype');
	font-weight: normal;
	font-display: swap;
}

@layer components {
	.home-image {
		@apply fixed right-0 top-0 -z-10 h-full w-2/5 object-cover object-left-top transition-opacity duration-100;
	}

	.home-card {
		@apply relative -mx-4 -mb-11 flex cursor-pointer justify-between border-t border-black bg-stone-50 px-2 pb-5 pt-1 transition-transform duration-500 ease-out hover:-translate-y-6 focus-visible:z-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black sm:hover:-translate-y-8;
	}

	.layered-image {
		@apply relative m-2 h-32 w-32 cursor-pointer self-center sm:h-36 sm:w-36 sm:self-start;
	}

	.org-button {
		@apply rounded-full border border-black px-2 py-1 font-mono text-[0.675rem] sm:text-[0.79rem];
	}
}
